dataclasses==0.6
datasets==1.5.0
fairseq==0.10.2
fuzzywuzzy==0.18.0
huggingface-hub==0.0.8
konlpy==0.5.2
kss==2.5.0
numpy==1.19.4 
pandas==1.1.4 
pororo==0.4.2 
scikit-learn==0.24.1 
seaborn==0.11.1 
sentencepiece==0.1.95 
slack-sdk==3.5.1 
torch==1.6.0 
tqdm==4.41.1 
transformers==4.5.1 
urllib3==1.26.4 
wandb==0.10.27 
